header .menu a {
    font-size: large;
    font-weight: bold;
}

.mc_container {
    width: 1680px;
    padding: 0 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron_top2 {
    height: 850px;
    background-image: url('https://images.everyeye.it/img-sondaggi/ps5-gioco-lancio-comprerai-console-v7-1572-1280x720.jpg');
}

.jumbotron_top2 .logo_ps5 {
    filter: invert(1);
}

.jumbotron_top2 .hero_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
}

.jumbotron_top2,
.jumbotron_middle {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron_top2 .hero_text {
    background-color: rgba(0, 0, 0, 0.9);
}

.esclusive .image_big img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.esclusive .image_video img {
    width: 80%;
    height: 350px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
}

.first_game .image_video {
    top: -50px;
    right: 70px;
}

.second_game .image_video {
    top: -50px;
    left: 70px;
}