/* #region Common */

* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --light: #BEBCBB;
    --footer-color: #00439C;
    --logo-color: #0070D1;
    --darker: #1F1F1F;
    --bg-primary-btn: #2D64E6;
    --dark: #363636;
    --bg-danger: #CD3D0F;
    --lighter: #D9DADC;
}


/* #endregion Common */


/* #region DEBUG */

.debug .logo {
    height: 50px;
}

.debug .navbar {
    height: 100px;
}

.debug .jumbotron_top,
.debug .jumbotron_middle {
    height: 650px;
    background-color: red;
}

.debug .sliders_game,
.debug .sliders_accessories {
    height: 200px;
    background-color: rgb(224, 165, 36);
}

.debug .ps5_presentation,
.debug .ps4_accessories,
.debug .discounts {
    height: 800px;
    background-color: rgb(60, 255, 0);
}

.debug .jumbotron_ps_plus,
.debug .jumbotron_ps_now {
    height: 400px;
    background-color: rgb(225, 0, 255);
}

.debug .social {
    height: 350px;
    background-color: rgb(0, 217, 255);
}

.debug .footer_site {
    height: 700px;
    background-color: rgb(166, 255, 0);
}


/* #endregion DEBUG */


/* #region utility */

.mc_bg_dark {
    background-color: var(--dark);
}

.mc_bg_danger {
    background-color: var(--bg-danger);
}

.mc_bg_white {
    background-color: white;
}

.mc_text_black {
    color: black !important;
}

.p_t {
    padding-top: 10rem;
}

.txt_size_18px {
    font-size: 18px;
}


/* #endregion utility */


/* #region header */

.dropdown-menu[data-bs-popper] {
    left: auto !important;
}


/* #endregion header */


/* #region main */

.jumbotron_top {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

.jumbotron_top .container {
    height: 700px;
}


/* #endregion main */


/* #region footer */


/* #endregion footer */